@tailwind base;
@tailwind components;
@tailwind utilities;

@media (min-width: 1020px) {
  .bg-hero {
    @apply absolute top-52 rounded-l-full bg-soft-blue;
    height: 300px;
    left: 30%;
    /* the reason why we have overflow-x-hidden on the <body> element */
    width: 2000px;
  }
}
